* {
	color: #163640;
	/* @see https://fonts.google.com/specimen/Jura */
	font-family: 'Jura', sans-serif;	
}
label {
	font-weight: 600;
	margin: 0 0.5em;
}
span {
	margin: 0 0.5em;
}
footer {
	position: absolute;
	left: 200px;	
	top: 1150px;	
	width: 550px;
}
footer a {
	font-style: italic;
}
.tis-bg {
	width: 800px;
}
.tis_icon {
	position: absolute;
	height: 16px;
	width: 16px;
}
.tis-field {
	/* border: 1px solid #ccc; */
	border: 1px solid transparent;
	font-size: 10px;
	font-weight: 600;
	height: 14px;
	padding: 0px;
	position: absolute;
	text-align: center;
	width: 154px;
}
#tis_name {
	color: #D32226;
	font-weight: 700;
	height: 15px;
	left: 188px;
	text-transform: uppercase;
	top: 78px;
	width: 226px;
}
#tis_age {
	left: 260px;
	text-transform: uppercase;
	top: 112px;
	width: 73px;
}
#tis_gender {
	left: 335px;
	text-transform: uppercase;
	top: 112px;
	width: 73px;
}
#tis_gender_repeat {
	left: 410px;
	top: 112px;
}
#tis_species_name {
	left: 260px;
	text-transform: uppercase;
	top: 136px;
}
#tis_species_drawback {
	left: 260px;
	top: 160px;
}
#tis_trope {
	left: 260px;
	text-transform: uppercase;
	top: 184px;
}
#tis_fatalflaw {
	left: 260px;
	text-transform: uppercase;
	top: 208px;
}
#tis_fatal_flaw {
	left: 260px;
	top: 208px;
}
#tis_species_description {
	border: 1px solid transparent;
	height: 62px;
	left: 122px;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	top: 256px;
	width: 292px;
}
.tis-stat {
	/* border: 1px solid #ccc; */
	border: 1px solid transparent;
	font-size: 24px;
	font-weight: 600;
	height: 24px;
	padding: 0px 4px;
	position: absolute;
	text-align: center;
	width: 28px;
}
#tis_credits {
	left: 260px;
	top: 352px;
}
#tis_fight {
	left: 518px;
	top: 136px;
}
#tis_brains {
	left: 518px;
	top: 210px;
}
#tis_charm {
	left: 518px;
	top: 282px;
}
#tis_flight {
	left: 640px;
	top: 100px;
}
#tis_brawn {
	left: 640px;
	top: 174px;
}
#tis_grit {
	left: 640px;
	top: 246px;
}
.tis-stat-mod {
	background-color: transparent;
	/* border: 1px solid cyan; */
	border: 1px solid transparent;
	font-size: 16px;
	font-style: italic;
	font-weight: 600;
	height: 24px;
	padding: 0px 4px;
	position: absolute;
	text-align: center;
	width: 20px;
}
#tis_fight_mod {
	left: 578px;
	top: 130px;
}
#tis_brains_mod {
	left: 578px;
	top: 204px;
}
#tis_charm_mod {
	left: 578px;
	top: 276px;
}
#tis_flight_mod {
	left: 708px;
	top: 94px;
}
#tis_brawn_mod {
	left: 708px;
	top: 168px;
}
#tis_grit_mod {
	left: 708px;
	top: 240px;
}
#tis_improvement_points {
	left: 498px;
	top: 384px;
	width: 56px;
}
#tis_adversity_tokens {
	left: 630px;
	top: 348px;
	width: 56px;
}
.tis-improvements-cost {
	/* border: 1px solid red; */
	border: 1px solid transparent;
	font-size: 12px;
	height: 20px;
	left: 124px;
	padding: 0px 4px;
	position: absolute;
	text-align: center;
	width: 22px;
}
.tis-improvements-name {
	/* border: 1px solid red; */
	border: 1px solid transparent;
	color: #000;
	font-size: 8px;
	height: 20px;
	left: 166px;
	padding: 0px 4px;
	position: absolute;
	text-align: left;
	width: 72px;
}
.tis-improvements-description {
	/* border: 1px solid red; */
	border: 1px solid transparent;
	color: #000;
	font-size: 8px;
	height: 20px;
	left: 258px;
	padding: 0px 4px;
	position: absolute;
	text-align: left;
	width: 160px;	
}
#tis_improvements_cost_01,
#tis_improvements_name_01,
#tis_improvements_description_01 {
	top: 483px;
}
#tis_improvements_cost_02,
#tis_improvements_name_02,
#tis_improvements_description_02 {
	top: 509px;
}
#tis_improvements_cost_03,
#tis_improvements_name_03,
#tis_improvements_description_03 {
	top: 534px;
}
#tis_improvements_cost_04,
#tis_improvements_name_04,
#tis_improvements_description_04 {
	top: 560px;
}
#tis_improvements_cost_05,
#tis_improvements_name_05,
#tis_improvements_description_05 {
	top: 586px;
}
#tis_improvements_cost_06,
#tis_improvements_name_06,
#tis_improvements_description_06 {
	top: 611px;
}
#tis_improvements_cost_07,
#tis_improvements_name_07,
#tis_improvements_description_07 {
	top: 637px;
}
#tis_improvements_cost_08,
#tis_improvements_name_08,
#tis_improvements_description_08 {
	top: 662px;
}
#tis_improvements_cost_09,
#tis_improvements_name_09,
#tis_improvements_description_09 {
	top: 688px;
}
.tis-ship-roles {
	/* border: 1px solid orange; */
	border: 1px solid transparent;
	font-size: 12px;
	height: 20px;
	left: 492px;
	padding: 0px 4px;
	position: absolute;
	text-align: left;
	width: 204px;
}
#tis_ship_roles_01 {
	top: 460px;
}
#tis_ship_roles_02 {
	top: 485px;
}
#tis_ship_roles_03 {
	top: 511px;
}
#tis_ship_roles_04 {
	top: 536px;
}
#tis_ship_roles_05 {
	top: 561px;
}
#tis_ship_roles_06 {
	top: 587px;
}
#tis_ship_roles_07 {
	top: 612px;
}
#tis_ship_roles_08 {
	top: 637px;
}
#tis_ship_roles_09 {
	top: 663px;
}
#tis_ship_roles_10 {
	top: 688px;
}
#tis_ship_roles_11 {
	top: 713px;
}
.tis-records {
	/* border: 1px solid red; */
	border: 1px solid transparent;
	font-size: 12px;
	height: 20px;
	left: 86px;
	padding: 0px 4px;
	position: absolute;
	text-align: left;
	width: 334px;
}

.tis-backpack {
	/* border: 1px solid orange; */
	border: 1px solid transparent;
	font-size: 12px;
	height: 20px;
	left: 478px;
	padding: 0px 4px;
	position: absolute;
	text-align: left;
	width: 222px;
}
#tis_records_01,
#tis_backpack_01 {
	top: 788px;
}
#tis_records_02,
#tis_backpack_02 {
	top: 812px;
}
#tis_records_03,
#tis_backpack_03 {
	top: 836px;
}
#tis_records_04,
#tis_backpack_04 {
	top: 861px;
}
#tis_records_05,
#tis_backpack_05 {
	top: 885px;
}
#tis_records_06,
#tis_backpack_06 {
	top: 909px;
}
#tis_records_07,
#tis_backpack_07 {
	top: 933px;
}
#tis_records_08,
#tis_backpack_08 {
	top: 957px;
}
#tis_records_09,
#tis_backpack_09 {
	top: 981px;
}
#tis_records_10,
#tis_backpack_10 {
	top: 1006px;
}
#tis_records_11,
#tis_backpack_11 {
	top: 1030px;
}
#tis_records_12,
#tis_backpack_12 {
	top: 1054px;
}
